@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    background: #092756;
    color: #fff;
    font-size: 18px;
    text-align: center;
    letter-spacing: 1.2px;
    background: linear-gradient(135deg, #670d10 0%, #092756 100%);
    overflow: hidden;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    letter-spacing: 1px;
}

input[type="text"], input[type="number"] {
    width: 100%;
    margin-bottom: 10px;
    background: rgba(0, 0, 0, 0.3);
    border: none;
    outline: none;
    padding: 10px;
    font-size: 13px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.2), 0 1px 1px rgba(255, 255, 255, 0.2);
    transition: box-shadow .5s ease;
}

input:focus {
    box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.4), 0 1px 1px rgba(255, 255, 255, 0.2);
}

button {
    background-color: #4a77d4;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5), inset 0 1px 0 rgba(255, 255, 255, 0.2);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    transition: background-position 0.1s linear;
}

button:hover {
    background-color: #3762bc;
}

.prediction {
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #fff;
}
